input,
input:active {
    border-bottom: 1px solid #9575cd !important;
    box-shadow: 0 1px 0 0 #9575cd !important;
}
::-webkit-scrollbar {
    display: none;
}
.accountContainer {
    min-height: 100vh;
}
.accountScreenBody {
    min-height: 70%;
}
.accountScreenBody > div {
    height: 10%;
    padding: 10vh 0 0 4vw !important;
}
.accountScreenBody > .renderEmails {
    padding-top: 0vh !important;
}
.renderEmails > div {
    max-height: 45vh;
    overflow-y: scroll;
    border: 3px solid #9675cd;
    padding: 0;
}
.renderEmails > div > ul {
    margin: 0;
}
.uploadProfileImgContainer {
    position: relative;
}
.openFileExplorerBtn,
.openFileExplorerBtn:hover {
    background-color: #9575cd;
}
.profileImgTooltip {
    position: absolute;
    left: 25%;
    bottom: -50px;
    text-align: center;
}
.profileImgTooltip > .preloader-wrapper {
    margin-right: 10px;
}
.manageEmailsContainer {
    position: relative;
}
.manageEmailsContainer > div > i {
    margin: 0 10px;
    cursor: pointer;
    color: #9575cd;
}
.emailsTooltip {
    width: 50%;
    height: auto;
    position: absolute;
    left: 48%;
    top: 0;
    background-color: #9575cd;
    color: #ffffff;
    padding: 5px;
    z-index: 1;
}
.primaryEmail {
    background-color: #9575cd !important;
    color: #ffffff;
}
.primaryEmail > a > i {
    color: #ffffff;
}
.newEmailContainer {
    background-color: #ffffff;
    color: #9575cd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.newEmailContainer > form > input {
    display: block;
    width: 200px !important;
    height: 20px !important;
}
.newEmailContainer > form > button,
.additionalEmail > button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
}
.newEmailContainer > form > button > i {
    color: #2196f3;
    cursor: pointer;
}
.additionalEmail {
    background-color: #ffffff;
    color: #9575cd;
    font-weight: 800;
}
.additionalEmail > button > i {
    color: #9575cd;
}
