[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
    padding-left: 25px !important;
}
.dashboardContainer {
    min-height: 100vh;
}
.infoTipContainer {
    position: relative;
    z-index: 1;
}
.infoTipContainer > div {
    position: absolute;
    top: 14px;
    left: 20px;
}
.infoTip,
.infoTip > span {
    color: #000000;
    background-color: #9675cd !important;
    cursor: pointer;
}
.breakdownTip > div {
    background-color: #ffffff;
}
.breakdownTip > div > span {
    background-color: #ffffff !important;
    color: #9675cd !important;
    padding-left: 32px;
}
.infoTip > i {
    color: #ffffff;
}
.collection-item {
    padding: 10 0 !important;
}
.sortBtnsContainer {
    margin: 7.25px 0 14px 0 !important;
    display: flex;
    justify-content: flex-end;
}
.sortBtnsContainer > ul > li {
    display: inline-block;
}
.sortBtn {
    background-color: #9675cd;
    margin: 0 4px;
}
.sortBtn:hover,
.sortBtn:focus {
    background-color: #9675cd;
}
.filterOptionsContainer {
    padding: 0 25px;
    border-bottom: 2px solid #9675cd;
}
.filterOptionsContainer > div {
    display: inline-block;
}
.filterOptionsContainer > div:nth-child(1) {
    margin-right: 5%;
}
.filterOptionsContainer > div > span {
    margin: 0 7px;
}
.radioBtnLabel {
    padding-left: 25px;
    color: #9675cd;
    font-weight: 800;
}
.memoryCardsContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    height: 45vh;
    width: 32%;
    margin: 0.5% 0.6%;
}
.card > .card-image > img {
    height: 225px;
    width: 100%;
    cursor: pointer;
}
.card-content > .cardPointers {
    display: flex;
    justify-content: space-between;
}
.card-content > .cardPointers,
.cardIcon {
    color: #9675cd;
}
