label {
    color: #000000 !important;
}
textarea,
textarea:active {
    border-bottom: 1px solid #9575cd !important;
    box-shadow: 0 1px 0 0 #9575cd !important;
}
.uploadContainer {
    min-height: 100vh;
}
.uploadContainer > div > form {
    padding-top: 10vh !important;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #9575cd;
    border-color: #9575cd;
}
.blurbInput > i {
    color: #9575cd !important;
}
.blurbInput > label {
    z-index: -1;
}
.occasionContainer > span {
    margin: 0 5px;
}
.occasionContainer > span > label > span {
    padding-left: 25px !important;
}
.dateContainer {
    padding-top: 30px !important;
}
.imgUploadContainer > div {
    width: 75%;
}
.fileSelectBtn,
.fileSelectBtn:hover {
    background-color: #9575cd;
}
